@use "./variables.scss" as *;

// Center TikZ SVGs
div.quartz-tikz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
  width: 100%;
}

// Fix KaTeX hookrightarrow rendering as emoji on macOS Safari/Chrome
.katex {
  font-variant-emoji: text;
}

// The exact selector Quartz v5 uses for Dark Mode
html[saved-theme="dark"] div.quartz-tikz-container img {
  filter: invert(1) hue-rotate(180deg) brightness(1.8) contrast(2) !important;
}
